<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Data</title>
</head>
<body>
    <% if(locals.name_length) { %>
        <h1>There are <%= name_length %> letters in your name. </h1>
    <% } else { %>
    <h1>Please enter the first and last name. I will count it for you!</h1>
    <% } %>
    <form action="/submit" method="POST">
        <label for="Fname">First Name: </label>
        <input name="Fname" type="text" placeholder="First Name"><br>
        <label for="Lname">Last Name: </label>
        <input name="Lname" type="text" placeholder="Last Name"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>